<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>자재·장비대금 지킴이</title>
	<link type="text/css" rel="stylesheet" href="../assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/datepicker.min.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<div class="container">
	<header class="">
		<div class="headerWrap">

			<a href="javascript:history.go(-1);" class="backBtn"></a>

			<div class="pageTitBox">자재대금 상세</div>

			<!-- GNB -->
			<a href="javascript:f_goMenu();" class="gnbBox">
				<i class="ic ic_gnb"></i>
			</a>
		</div>
	</header>
	<div class="wrapper">
		<section class="edit" id="detail-page">
			<ul class="editList">
				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">청구년월</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${mnpbAskYYMM_v}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_spot"></i>
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<input type="hidden" id="blngDptcd" th:value="${blngDptcd}">
						<input class="tbox" th:value="${korDptnm}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_device"></i>
						<span class="txt">공 구</span>
					</div>
					<div class="con">
						<input type="hidden" id="wkscCd" th:value="${wkscCd}">
						<input class="tbox" th:value="${wkscNm}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">계약업체명</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${cntrtCrprNm}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재업체명</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${corpNm}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재명</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${cntrtNm}" readonly>
					</div>
				</li>


				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${custTelno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">사업자번호</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${rprsCrno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${rpprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${deprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${trBankNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${bankActno}" readonly>
					</div>
				</li>
				<!-- <li>
					<div class="subject">
						<i class="ic ic_buy"></i>
						<span class="txt">구매품목</span>
					</div>
					<div class="con">
						<input class="tbox">
					</div>
				</li> -->
				<li>
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">청구금액</span>
					</div>
					<div class="con">
						<div class="inputBox">
							<input class="tbox money" th:value="${askAmt}" readonly>
							<span class="unit">원</span>
						</div>
					</div>
				</li>
				<li th:if="${etcRmrk != '' and etcRmrk != null }">
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">수정사유</span>
					</div>
					<div class="con">
						<input class="tbox" th:value="${etcRmrk}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_data"></i>
						<span class="txt">세금계산서</span>
					</div>
					<div class="con">
						<input type="hidden" id="attflPath" th:value="${attflPath}">
						<input class="tbox fileText" id="attflNm" th:value="${attflNm}" readonly onclick="javascript:f_downloadFile();">
					</div>
				</li>
			</ul>

			<div class="editMenuBox">
				<a href="javascript:f_remove();" class="removeBtn" th:if="${session.custAthrCd == 'B' and blngDptcd == session.blngDptcd or mnpbStatCd == '01'}">삭제</a>

				<div class="menuBox">	<!-- 권한이 관리자(원/하도급)이고 해당 상세데이터의 현장과 세션의 현장이 동일할 경우, 버튼 표출 혹은 자신의 데이터일 경우 표출  -->
					<a href="javascript:f_modify();" class="menuBtn" th:if="${session.custAthrCd == 'B' and blngDptcd == session.blngDptcd or mnpbStatCd == '01'}">수정</a>
					<a href="javascript:history.go(-1);" class="menuBtn">취소</a>
				</div>
			</div>
		</section>

		<!-- 수정페이지  -->
		<section class="edit" id="modify-page" style="display:none;">
		<form name="materModifyForm" id="materModifyForm" enctype="multipart/form-data">
			<input type="hidden" name="mnpbClssCd" value="M">
			<input type="hidden" name="mtriCustNo" th:value="${mtriCustNo}">
			<input type="hidden" name="lsttmModfrId" th:value="${session.mtriCustNo}">
			<ul class="editList">
				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">청구년월</span>
					</div>
					<div class="con">
						<input type="hidden" name="mnpbAskYYMM" th:value="${mnpbAskYYMM}">
						<input class="tbox" th:value="${mnpbAskYYMM_v}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_spot"></i>
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="blngDptcd" onchange="javascript:f_wkscData();">
							</select>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_device"></i>
						<span class="txt">공 구</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="wkscCd">
							</select>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">계약업체명</span>
					</div>
					<div class="con">
						<input type="hidden" id="cntrtCrprSeq" name="cntrtCrprSeq" th:value="${cntrtCrprSeq}">
						<input class="tbox" id="cntrtCrprNm" name="cntrtCrprNm" th:value="${cntrtCrprNm}" style="width:63%;" readonly>
						<button type="button" onclick="javascript:f_cntrtCrprNmPopup();" class="btn-confirm btn-check"> 조회 </button>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">장비업체명</span>
					</div>
					<div class="con">
						<input class="tbox" name="corpNm" th:value="${corpNm}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재명</span>
					</div>
					<div class="con">
						<input class="tbox" name="cntrtNm" th:value="${cntrtNm}">
						<input type="hidden" name="mnpbAskSqno" th:value="${mnpbAskSqno}">
					</div>
				</li>


				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" name="custTelno" th:value="${custTelno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">사업자번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="rprsCrno" th:value="${rprsCrno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" name="rpprNm" th:value="${rpprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" name="deprNm" th:value="${deprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" name="trBankNm" th:value="${trBankNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="bankActno" th:value="${bankActno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">청구금액</span>
					</div>
					<div class="con">
						<div class="inputBox">
							<input class="tbox money" name="askAmt" th:value="${askAmt}" numberonly>
							<span class="unit">원</span>
						</div>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">수정사유</span>
					</div>
					<div class="con">
						<input class="tbox" name="etcRmrk" th:value="${etcRmrk}">
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_data"></i>
						<span class="txt">세금계산서</span>
					</div>
					<div class="con">
						<input type="hidden" name="etcFileName" th:value="${attflNm}"/>
						<input type="hidden" name="attflSeq" th:value="${attflSeq}"/>
						<div class="fileBox">
							<label for="flUpFileData" style="padding-left: 15px; padding-top: 12px;">
								<input type="file" id="flUpFileData" style="display:none;" name="flUpFileData" onchange="javascript:f_imgChange('#fileName', '#flUpFileData');">
								<span class="txt" id="fileName" style="font-size:15px;" th:text="${attflNm}"></span>
								<i class="ic ic_chain"></i>
							</label>
						</div>
					</div>
				</li>
			</ul>
		</form>
			<div class="editMenuBox">
				<div class="menuBox">
					<a href="javascript:f_goModifySave();" class="menuBtn">저장</a>
					<a href="javascript:f_modifyCancel();" class="menuBtn">취소</a>
				</div>
			</div>
		</section>
	</div>
</div>

<div id="crprNmPopup" class="searchModal_pw" style="display:none;">
	<div class="search-modal-content-popup">
		<div class="qbox-input">
			<div class="fr hd-right">
	            <a href="javascript:f_modalClose();"> <i class="fas fa-times"></i></a>
	        </div>
	   		<section class="materialPriceList">
				<div class="searchFormBox">
					<div class="titBox">
						<span class="txt">업체명</span> 
						<input class="tbox" id="sCntrtCrprNm" style="width: 65%; margin-left: 10px;">
					</div>
					<a href="javascript:f_crprNmData();" class="searchBtn" style="margin-top:0px;">조회</a>
				</div>
	
				<div class="listFormBox" style="height:200px; overflow: auto;">
					<div class="listGroup" id="materListData">
						<ul class="itemList" id="cntrtCrprList">
						</ul>
					</div>
				</div>
				
	
			</section>
	      	<div class="cb-btnwrap">
               <button type="button" onclick="javascript:f_cntrtCheck();" class="btn-confirm">확 인</button>
            </div>
	    </div>
    </div>
</div>
<div id="menuDiv"></div>
<div class="progressDiv">
	<img src="../assets/img/progress.gif"/>
</div>


<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.12.1.js"></script>
<script src="../assets/js/ui.js"></script>
<script src="../assets/js/datepicker.min.js"></script>
<script src="../assets/js/datepicker.ko.js"></script>
<script src="../assets/js/core.js"></script>
<script src="../assets/js/mater/materDetail.js"></script>
</body>
</html>