<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>자재·장비대금 지킴이</title>
	<link type="text/css" rel="stylesheet" href="../assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/datepicker.min.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<div class="container">
	<header class="">
		<div class="headerWrap">

			<a href="javascript:history.go(-1);" class="backBtn"></a>

			<div class="pageTitBox">자재대금 상세</div>

			<!-- GNB -->
			<a href="javascript:f_goMenu();" class="gnbBox">
				<i class="ic ic_gnb"></i>
			</a>
		</div>
	</header>
	<div class="wrapper">
		<section class="edit">
			<ul class="editList">
				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">청구년월</span>
					</div>
					<div class="con">
						<input class="tbox" name="mrtiMnpbAskYYMM" th:value="${mrtiMnpbAskYYMM}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_spot"></i>
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<input class="tbox" name="fildClssCd" th:value="${fildClssCd}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_device"></i>
						<span class="txt">공 구</span>
					</div>
					<div class="con">
						<input class="tbox" name="cntcWkscCd" th:value="${cntcWkscCd}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">계약업체명</span>
					</div>
					<div class="con">
						<input class="tbox" name="cntrtCrprNm" th:value="${cntrtCrprNm}" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재업체명</span>
					</div>
					<div class="con">
						<input class="tbox" name="mtriCrprNm" th:value="${custNm}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재명</span>
					</div>
					<div class="con">
						<input class="tbox" name="mtriNm" th:value="${mtriNm}" readonly>
						<input type="hidden" name="mtriCd" value="aa">
						<input type="hidden" name="mtriMnpbAskSqno" value="1">
					</div>
				</li>


				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" name="custTelno" th:value="${custTelno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">사업자번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="mtriCustNo" th:value="${mtriCustNo}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" name="rpprNm" th:value="${rpprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" name="deprNm" th:value="${deprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" name="trBankNm" th:value="${trBankNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="bankActno" th:value="${bankActno}" readonly>
					</div>
				</li>
				<!-- <li>
					<div class="subject">
						<i class="ic ic_buy"></i>
						<span class="txt">구매품목</span>
					</div>
					<div class="con">
						<input class="tbox">
					</div>
				</li> -->
				<li>
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">청구금액</span>
					</div>
					<div class="con">
						<div class="inputBox">
							<input class="tbox money" name="askAmt" th:value="${askAmt}" readonly>
							<span class="unit">원</span>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">세금계산서</span>
					</div>
					<div class="con">
						<input type="hidden" id="attflPath" th:value="${attflPath}">
						<input class="tbox fileText" id="attflNm" th:value="${attflNm}" readonly onclick="javascript:f_downloadFile();">
					</div>
				</li>
			</ul>

			<!-- <div class="editMenuBox">

				<a href="#none" class="removeBtn">삭제</a>

				<div class="menuBox">
					<a href="#none" class="menuBtn">저장</a>
					<a href="#none" class="menuBtn">취소</a>
				</div>


			</div> -->
		</section>

	</div>
</div>
<div id="menuDiv" style="display:none;"></div>
<div class = "progressDiv" style="display:none;">
	<img src="../assets/img/progress.gif"/>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.12.1.js"></script>
<script src="../assets/js/ui.js"></script>
<script src="../assets/js/datepicker.min.js"></script>
<script src="../assets/js/datepicker.ko.js"></script>
<script src="../assets/js/core.js"></script>
<script src="../assets/js/mater/materDetail.js"></script>
</body>
</html>