<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>자재·장비대금 지킴이</title>
	<link type="text/css" rel="stylesheet" href="../assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/datepicker.min.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<div class="container">
	<header class="">
		<div class="headerWrap">

			<a href="javascript:history.go(-1);" class="backBtn"></a>

			<div class="pageTitBox">자재대금 등록</div>

			<!-- GNB -->
			<a href="javascript:f_goMenu();" class="gnbBox">
				<i class="ic ic_gnb"></i>
			</a>
		</div>
	</header>
	<div class="wrapper">
		<section class="edit">
		<form name="materForm" id="materForm" enctype="multipart/form-data">
			<input type="hidden" name="mnpbClssCd" value="M">
			<input type="hidden" name="mtriCustNo" th:value="${session.mtriCustNo}">
			<ul class="editList">
				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">청구년월</span>
					</div>
					<div class="con">
						<input type="hidden" name="mnpbAskYYMM">
						<input type="month" class="dayMonth" name="d_mnpbAskYYMM">
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_spot"></i>
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="blngDptcd" onchange="javascript:f_wkscData();">
							</select>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_device"></i>
						<span class="txt">공 구</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="wkscCd">
							</select>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">계약업체명</span>
					</div>
					<div class="con">
						<input type="hidden" id="cntrtCrprSeq" name="cntrtCrprSeq">
						<input class="tbox" id="cntrtCrprNm" name="cntrtCrprNm" style="width:63%;" readonly>
						<button type="button" onclick="javascript:f_cntrtCrprNmPopup();" class="btn-confirm btn-check"> 조회 </button>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재업체명</span>
					</div>
					<div class="con">
						<input class="tbox" name="corpNm" th:value="${session.corpNm}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재명</span>
					</div>
					<div class="con">
						<input class="tbox" name="cntrtNm">
					</div>
				</li>


				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" name="custTelno" th:value="${session.custTelno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">사업자번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="rprsCrno" th:value="${session.rprsCrno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" name="rpprNm" th:value="${session.rpprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" name="deprNm" th:value="${session.deprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" name="trBankNm" th:value="${session.trBankNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="bankActno" th:value="${session.bankActno}" readonly>
					</div>
				</li>
				<!-- <li>
					<div class="subject">
						<i class="ic ic_buy"></i>
						<span class="txt">구매품목</span>
					</div>
					<div class="con">
						<input class="tbox">
					</div>
				</li> -->
				<li>
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">청구금액</span>
					</div>
					<div class="con">
						<div class="inputBox">
							<input class="tbox money" name="askAmt" numberonly>
							<span class="unit">원</span>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_data"></i>
						<span class="txt">세금계산서</span>
					</div>
					<div class="con">
						<div class="fileBox">
							<label for="flUpFileData" style="padding-left: 15px; padding-top: 12px;">
								<input type="file" id="flUpFileData" style="display:none;" name="flUpFileData" onchange="javascript:f_imgChange('#fileName', '#flUpFileData');">
								<span class="txt" id="fileName" style="font-size:15px;"></span>
								<i class="ic ic_chain"></i>
							</label>
						</div>
						
					</div>
				</li>
			</ul>
		</form>
			<div class="editMenuBox">

				<!-- <a href="#none" class="removeBtn">삭제</a> -->

				<div class="menuBox">
					<a href="javascript:f_save();" class="menuBtn">저장</a>
					<a href="javascript:history.go(-1);" class="menuBtn">취소</a>
				</div>
			</div>
		</section>

	</div>
</div>

<div id="crprNmPopup" class="searchModal_pw" style="display:none;">
	<div class="search-modal-content-popup">
		<div class="qbox-input">
			<div class="fr hd-right">
	            <a href="javascript:f_modalClose();"> <i class="fas fa-times"></i></a>
	        </div>
	   		<section class="materialPriceList">
				<div class="searchFormBox">
					<div class="titBox">
						<span class="txt">업체명</span> 
						<input class="tbox" id="sCntrtCrprNm" style="width: 65%; margin-left: 10px;">
					</div>
					<a href="javascript:f_crprNmData();" class="searchBtn" style="margin-top:0px;">조회</a>
				</div>
	
				<div class="listFormBox" style="height:200px; overflow: auto;">
					<div class="listGroup" id="materListData">
						<ul class="itemList" id="cntrtCrprList">
						</ul>
					</div>
				</div>
				
	
			</section>
	      	<div class="cb-btnwrap">
               <button type="button" onclick="javascript:f_cntrtCheck();" class="btn-confirm">확 인</button>
            </div>
	    </div>
    </div>
</div>
<div id="menuDiv"></div>
<div class="progressDiv">
	<img src="../assets/img/progress.gif"/>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.12.1.js"></script>
<script src="../assets/js/ui.js"></script>
<script src="../assets/js/datepicker.min.js"></script>
<script src="../assets/js/datepicker.ko.js"></script>
<script src="../assets/js/core.js"></script>
<script src="../assets/js/mater/materCreate.js"></script>
</body>
</html>