    #menuDiv {display : none; width : 100%; height : 100%; top : 0; left : 0; position : absolute; z-index:1000; background-color:#ffe346;}
    
	.cb-btnwrap{text-align: center;padding:18px 0 15px}
	.cb-btnwrap button{width:116px;height:40px;font-size: 19px;font-weight: 500;border-radius: 4px;}
	.cb-btnwrap .btn-cancel{border:1px solid #ddd; background-color: #fff;color:#333;}
	.cb-btnwrap .btn-confirm{border:1px solid #ddd; background-color: #00217e;color:#fff;}
	.cb-btnwrap .btn-search{width: 70px; height: 32px; border:1px solid #ddd; background-color: #437ed1;color:#fff;}
		
    header .headerWrap .myBox .fa-times {
    	background-color:white;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
	
	.mn-wrap{padding:0 17px 16px; margin-top:50px;}
	
	.mn-btnwrap{}
	.mn-btnwrap .mn-btnrow{padding:0 0 40px 0; color:black;}
	.mn-btnwrap .mn-btnrow  .mn-btn-tit{font-size: 20px;font-weight: 400;color:black;position: absolute;left:30px;right: 0;letter-spacing: -1px;}
	.mn-btnrow span{font-size: 20px;font-weight: 400;color:#fff ;}

	
	.ct-wrap .cm-qbox .qbox-datep{padding:15px 0 0;}
	.ct-wrap .cm-qbox .qbox-datep input{background-color: #eee;border: 1px solid #e5e5e5;width:calc(100% - 200px);height:31px;box-sizing: border-box;outline: none;padding-left: 5px;vertical-align: top;;}
	.ct-wrap .cm-qbox .qbox-datep button{background-color: #5d5d5d;border:0;height: 31px;vertical-align: top;outline: none;;}
	.ct-wrap .cm-qbox .qbox-datep button img{max-height: 23px;}
	
	.progressDiv{position: absolute; left: 50%; top: 50%; z-index:10000;}

	
	header .headerWrap .myclose {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    text-align: center;
	}
	header .headerWrap .myclose .fa-times {
        width: 21px;
        height: 22px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        
    .searchTbox{
    margin-left: 15px;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    border: solid 1px #dadada;
    padding: 0 10px;
    height: 34px;
    font-size: 15px;
    color: #000;
    outline: none;
    letter-spacing: -0.15px;}
        
	.searchFormBox .tableBox article.listTable table tr {
	  border-bottom: 1px solid #e5e5e5; }
	
	.searchFormBox .tableBox article.listTable table thead th {
	  text-align: center;
	  font-size: 14px;
	  color: #828282;
	  padding: 8px 0; }
	
	.searchFormBox .tableBox article.listTable table tbody td {
	  text-align: center;
	  font-size: 15px;
	  height: 35px; }
	
	.searchFormBox .tableBox article.listTable table tfoot.sum tr {
	  border: none; }
	
	.searchFormBox .tableBox article.listTable table tfoot.sum td {
	  text-align: center;
	  font-size: 15px;
	  height: 33px;
	  font-weight: 700;
	  color: #008fff; }
	.searchFormBox .tableBox article.listTable table tfoot.sum td.sumTxt {
	    text-align: right; }
	#noticeTb th{font-size:14px;}
	#noticeTb td{font-size:13px; height:30px;}
	
	.alertModal {
		position: fixed; /* Stay in place */
		z-index: 1000; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		overflow:hidden;
	}
	.alert-modal-content {
		background-color: #fefefe;
		margin: 50% auto; /* 15% from the top and centered */
		border: 1px solid #ffe346;
		width: 90%; /* Could be more or less, depending on screen size */
		/* height: 70%; */
		height: 30%;
	}
	.modalWrap{ height: 45px; background-color:#ffe346; color: #fff; opacity: 90%;}
	.modalWrap img{max-height:25px; box-shadow: 0px 0px 19.8px 0.2px rgba(0, 0, 0, 0.09);} 
	.modalWrap .title{position:absolute; left:50%; margin-left:-100px; padding-top: 10px;}
	.modalWrap h1.logo .logoImg {
	       display: inline-block;
	       vertical-align: middle;
	       position: absolute;
	       height: 20px;
	       margin-top : 10px;
	       margin-left : 10px;
	       background: url("../assets/img/img_header_logo.png") no-repeat center/cover; }
	.modalWrap h1.logo span {font-size: 17px;display: inline-block;margin-left: 2px;}
	   
	.modalText{height: 50%; padding:20px 30px 20px 30px;}
	.modalText span{font-size: 15px;font-weight: 400;color:black;}
	
	.modalButton {height: 16px; margin-bottom:0;}
	.modalButton button{width:120px;height:35px;font-size: 14px;font-weight: 500;border-radius: 4px; position:absolute; left:50%; margin-left:-60px; opacity: 90%;}
	.modalButton .btn-confirm{border:1px solid #ddd; background-color: #ffe346; color:black;}
	
	.cm-listwrap .cm-qbox .qbox-tit .qbinput{background-color: #eee;border: 1px solid #e5e5e5;width:100%;height:31px;box-sizing: border-box;outline: none;padding-left: 5px;}

	.dayMonth{height: 37px;background: #fff;border: 1px solid #ffe346;border-radius: 7px;width: calc(50% - 15px);padding-left: 8px;}
	