<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>자재·장비대금 지킴이</title>
	<link type="text/css" rel="stylesheet" href="../assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<div class="container">
	<header class="main">
		<div class="headerWrap">

			<h1 class="logo">
				<a href="#none">
					<span class="txt">자재·장비대금 지킴이</span>
				</a>
			</h1>

			<!-- 마이 -->
			<a href="javascript:f_goMypage();" class="myBox">
				<i class="ic ic_my"></i>
			</a>
			<!-- GNB -->
			<a href="javascript:f_goMenu();" class="gnbBox">
				<i class="ic ic_gnb"></i>
			</a>
		</div>
	</header>
	<div class="wrapper main">

		<section class="main">

			<ul class="mainList">

				<li>
					<a href="javascript:f_goMaterList();" class="itemLink">
						<div class="topGroup">
							<div class="nameBox">한국도로공사 현장</div>
							<div class="dateBox">2020.10</div>
							<div class="itemBox">
								<div class="topTxt">한국도로공사 공구</div>
								<div class="bottomTxt">크레인</div>
							</div>
						</div>
						<div class="bottomGroup">
							<span class="priceTxt">1,480,000,000</span>
						</div>
					</a>
				</li>

				<li>
					<a href="javascript:f_goMaterList();" class="itemLink">
						<div class="topGroup">
							<div class="nameBox">남양주 현장</div>
							<div class="dateBox">2020.09</div>
							<div class="itemBox">
								<div class="topTxt">00공구</div>
								<div class="bottomTxt">굴삭기</div>
							</div>
						</div>
						<div class="bottomGroup">
							<span class="priceTxt">1,480,000,000</span>
						</div>
					</a>
				</li>

				<li>
					<a href="javascript:f_goMaterList();" class="itemLink">
						<div class="topGroup">
							<div class="nameBox">강원도신축건물</div>
							<div class="dateBox">2020.09</div>
							<div class="itemBox">
								<div class="topTxt">강원공구</div>
								<div class="bottomTxt">파이프</div>
							</div>
						</div>
						<div class="bottomGroup">
							<span class="priceTxt">678,500,000</span>
						</div>
					</a>
				</li>

				<li>
					<div class="chargedBox">

						<div class="topTxt">김도공님<br/>청구 목록</div>
						<div class="chargeBtnBox">
							<a href="javascript:f_goMachineryList();" class="chargeBtn">
								<i class="ic ic_charge"></i>
								<span class="txt">15</span> <span class="unit">건</span>
							</a>
						</div>


						<div class="regBtnBox">
							<a href="javascript:f_goMaterCreate();" class="regBtn">
								<i class="ic ic_reg"></i>
								<span class="txt">자재대금 등록</span>
							</a>
						</div>

					</div>
				</li>


			</ul>

		</section>


		<section class="notice">

			<div class="titBox">
				<span class="titTxt">공지사항</span>
				<a href="javascript:f_goNotice();" class="moreBtn">더 보기</a>
			</div>

			<ul class="noticeList">
				<li>
					<a href="javascript:f_goNoticeDetail();">
						<div class="subject">자재관리 관련 공지사항</div>
						<div class="date">2020.10.30</div>
					</a>
				</li>
			</ul>

			<div class="archiveBox">
				<a href="#none" class="archiveBtn">
					<i class="ic_archive"></i>
					<span class="txt">자료실</span>
				</a>
			</div>


		</section>

		<footer>
			<div class="footerWrap">
				<div class="txt">
					Korea Expressway Corporation.<br/>
					All Rights reserved.
				</div>
			</div>
		</footer>

	</div>
</div>
<div id="menuDiv" style="display:none;"></div>
<div class = "progressDiv" style="display:none;">
	<img src="../assets/img/progress.gif"/>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.12.1.js"></script>
<script src="../assets/js/slick.min.js"></script>
<script src="../assets/js/ui.js"></script>
<script src="../assets/js/main/main.js"></script>
<script src="../assets/js/core.js"></script>
</body>
</html>