<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>자재·장비대금 지킴이</title>
	<link type="text/css" rel="stylesheet" href="../assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/datepicker.min.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<div class="container">
	<header class="">
		<div class="headerWrap">

			<a href="javascript:history.go(-1);" class="backBtn"></a>

			<div class="pageTitBox">마이페이지</div>

			<!-- GNB -->
			<a href="javascript:f_goMenu();" class="gnbBox">
				<i class="ic ic_gnb"></i>
			</a>
		</div>
	</header>
	<div class="wrapper">
		<section class="edit" id="detail-page">
			<input type="hidden" id="s_mtriCustNo" th:value="${session.mtriCustNo}">
			<input type="hidden" id="s_custAthrCd" th:value="${session.custAthrCd}">
			<ul class="editList">
				<li>
					<div class="subject">
						<span class="txt">사용자 유형</span>
					</div>
					<div class="con">
						<input class="tbox" id="custAthrNm" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<span class="txt">성명</span>
					</div>
					<div class="con">
						<input class="tbox" id="custNm" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<span class="txt">사용자 ID</span>
					</div>
					<div class="con">
						<input class="tbox" id="mtriCustNo" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" id="custTelno" readonly>
					</div>
				</li>
				<!-- 관리자일 경우  -->
				<li th:if="${session.custAthrCd == 'B' or session.custAthrCd == 'C'}">
					<div class="subject">
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<input class="tbox" id="korDptnm" readonly>
					</div>
				</li>
				<li th:if="${session.custAthrCd == 'B' or session.custAthrCd == 'C'}">
					<div class="subject">
						<span class="txt">공구명</span>
					</div>
					<div class="con">
						<input class="tbox" id="wkscNm" readonly>
					</div>
				</li>
				
				<!-- 일반직원일 경우  -->
				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">법인명</span>
					</div>
					<div class="con">
						<input class="tbox" id="corpNm" readonly>
					</div>
				</li>

				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" id="rpprNm" readonly>
					</div>
				</li>

				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt" style="font-size:15px;">사업자등록번호</span>
					</div>
					<div class="con">
						<input class="tbox" id="rprsCrno" readonly>
					</div>
				</li>

				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" id="deprNm" readonly>
					</div>
				</li>
				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" id="trBankNm" readonly>
					</div>
				</li>
				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" id="bankActno" readonly>
					</div>
				</li>
			</ul>

			<div class="editMenuBox">

				<!-- <a href="#none" class="removeBtn">삭제</a> -->

				<div class="menuBox">
					<a href="javascript:f_goModify();" class="menuBtn">수정</a>
					<a href="javascript:history.go(-1);" class="menuBtn">취소</a>
				</div>
			</div>
		</section>
		<section class="edit" id="modify-page" style="display:none;">
			<ul class="editList">
				<li>
					<div class="subject">
						<span class="txt">사용자 유형</span>
					</div>
					<div class="con">
						<input class="tbox" name="custAthrNm" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<span class="txt">성명</span>
					</div>
					<div class="con">
						<input class="tbox" name="custNm" readonly>
					</div>
				</li>

				<li>
					<div class="subject">
						<span class="txt">사용자 ID</span>
					</div>
					<div class="con">
						<input class="tbox" name="mtriCustNo" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<span class="txt">비밀번호</span>
					</div>
					<div class="con">
						<input class="tbox" type="password" name="oldPswd">
					</div>
				</li>
				<li>
					<div class="subject">
						<span class="txt">비밀번호 확인</span>
					</div>
					<div class="con">
						<input class="tbox" type="password" name="newPswd">
					</div>
				</li>
				<li>
					<div class="subject">
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" type="tel" name="custTelno">
					</div>
				</li>

				<!-- 관리자일 경우  -->
				<li th:if="${session.custAthrCd == 'B' or session.custAthrCd == 'C'}">
					<div class="subject">
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<input class="tbox" name="korDptnm" readonly>
					</div>
				</li>
				<li th:if="${session.custAthrCd == 'B' or session.custAthrCd == 'C'}">
					<div class="subject">
						<span class="txt">공구명</span>
					</div>
					<div class="con">
						<input class="tbox" name="wkscNm" readonly>
					</div>
				</li>
				
				<!-- 일반직원일 경우  -->
				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">법인명</span>
					</div>
					<div class="con">
						<input class="tbox" name="corpNm" readonly>
					</div>
				</li>

				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" name="rpprNm">
					</div>
				</li>

				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt" style="font-size:15px;">사업자등록번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="rprsCrno" readonly>
					</div>
				</li>

				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" name="deprNm">
					</div>
				</li>
				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" name="trBankNm">
					</div>
				</li>
				<li th:if="${session.custAthrCd == 'D'}">
					<div class="subject">
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" type="number" pattern="\d*" name="bankActno">
					</div>
				</li>

			</ul>

			<div class="editMenuBox">

				<a href="javascript:f_remove();" class="removeBtn">탈퇴</a>

				<div class="menuBox">
					<a href="javascript:f_modifySave();" class="menuBtn">저장</a>
					<a href="javascript:f_goBack();" class="menuBtn">취소</a>
				</div>
			</div>
		</section>

	</div>
</div>
<div id="menuDiv"></div>
<div class="progressDiv">
	<img src="../assets/img/progress.gif"/>
</div>
<div id="pwCheckModal" class="searchModal_pw" style="display:none;">
	<div class="search-modal-content">
		<div class="qbox-input">
			<div class="fr hd-right">
	            <a href="javascript:f_modalClose();"> <i class="fas fa-times"></i></a>
	        </div>
	   		<table class="userTb">
		        <tbody>
		        	<tr style="height:50px;">
		            	<th><i class="fas fa-unlock-alt"></i> 비밀번호 확인</th>
		        	</tr>
		        	<tr style="height:35px;">
		            	<td><input type="password" class="tbox" id="pswd" style="width:100%;"></td>
		        	</tr>
		        </tbody>
	      	</table>
	      	<div class="cb-btnwrap">
               <button type="button" onclick="javascript:f_pswdCheck();" class="btn-confirm">확 인</button>
            </div>
	    </div>
    </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.12.1.js"></script>
<script src="../assets/js/ui.js"></script>
<script src="../assets/js/datepicker.min.js"></script>
<script src="../assets/js/datepicker.ko.js"></script>
<script src="../assets/js/core.js"></script>
<script src="../assets/js/mypage/mypage.js"></script>
</body>
</html>