<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.mater.mypage.MypageMapper">

	<resultMap id="Mypage" type="com.ex.mater.mypage.Mypage">
		<result column="MTRI_CUST_NO" property="mtriCustNo"/>
		<result column="CUST_NM" property="custNm"/>
		<result column="USER_PSWD" property="custPswd"/>
		<result column="USER_ATHR_CD" property="custAthrCd"/>
		<result column="CUST_ATHR_NM" property="custAthrNm"/>
		<result column="CUST_TELNO" property="custTelno"/>
		<result column="CORP_NM" property="corpNm"/>
		<result column="RPPR_NM" property="rpprNm"/>
		<result column="RPRS_CRNO" property="rprsCrno"/>
		<result column="MNPB_RGSR_SEQ" property="mnpbRgsrSeq"/>
		<result column="DEPR_NM" property="deprNm"/>
		<result column="TR_BANK_NM" property="trBankNm"/>
		<result column="BANK_ACTNO" property="bankActno"/>
		<result column="MTRI_ATTFL_SEQ" property="attflSeq"/>
		<result column="MTRI_EQPM_CLSS_NM" property="mtriEqpmClssNm"/>

		<result column="ACIT_LOCK_YN" property="acitLockYN"/>
		<result column="FSTTM_RGSR_ID" property="fsttmRgsrId"/>
		<result column="FSTTM_RGST_DTTM" property="fsttmRgstDttm"/>
		<result column="LSTTM_MODFR_ID" property="lsttmModfrId"/> 
		<result column="LSTTM_ALTR_DTTM" property="lsttmAltrDttm"/>
		<result column="ETC_RMRK" property="etcRmrk"/>

		<result column="BLNG_DPTCD" property="blngDptcd"/>
		<result column="KOR_DPTNM" property="korDptnm"/>
		<result column="WKSC_CD" property="wkscCd"/>
		<result column="WKSC_NM" property="wkscNm"/>
		
	</resultMap>

    <select id="selectMypage" parameterType="map" resultMap="Mypage">
		SELECT 	MTRI_CUST_NO
                ,USER_ATHR_CD
				,CASE	WHEN USER_ATHR_CD = 'A' THEN '관리자'
						WHEN USER_ATHR_CD = 'B' THEN '원도급'
						WHEN USER_ATHR_CD = 'C' THEN '하도급사'
						WHEN USER_ATHR_CD = 'D' THEN '자재/장비사'
				 END AS CUST_ATHR_NM
                ,CUST_NM
                ,PRSN_CORP_CLSS_CD
                ,RPPR_NM
                ,ACNT_BANK_CD
                ,TR_BANK_NM
                ,CORP_NM
                ,DEPR_NM
                ,BANK_ACTNO
                ,MTRI_ATTFL_SEQ
                ,REGEXP_REPLACE(CUST_TELNO, '(.{3})(.*)(.{4})', '\1-\2-\3') CUST_TELNO
                ,USER_PSWD
                ,ACIT_LOCK_YN
                ,FSTTM_RGSR_ID
                ,FSTTM_RGST_DTTM
                ,LSTTM_MODFR_ID
                ,LSTTM_ALTR_DTTM
                ,ETC_RMRK
                ,RPRS_CRNO
                ,A.BLNG_DPTCD       -- 현장구분코드
			    ,(SELECT KOR_DPTNM FROM V_CPMB_SECT_INST01M1 WHERE A.BLNG_DPTCD = BLNG_DPTCD GROUP BY KOR_DPTNM) AS KOR_DPTNM
			    ,A.WKSC_CD   -- 건설공구코드
	            ,(SELECT WKSC_NM FROM V_CPMB_SECT_INST01M1 WHERE A.WKSC_CD = WKSC_CD GROUP BY WKSC_NM) AS WKSC_NM
		FROM T_MTRI_CUST01M1 A
		WHERE MTRI_CUST_NO = #{mtriCustNo}
		AND ACIT_LOCK_YN = 'N'
    </select>
    
    <update id="updateMypage" parameterType="com.ex.mater.mypage.Mypage">
    	UPDATE	T_MTRI_CUST01M1
   		SET		 USER_PSWD = #{custPswd}
   				,CUST_TELNO = #{custTelno}
   				,RPPR_NM = #{rpprNm}
   				,DEPR_NM = #{deprNm}
   				,TR_BANK_NM = #{trBankNm}
   				,BANK_ACTNO = #{bankActno}
   				,LSTTM_MODFR_ID = #{mtriCustNo}
   				,LSTTM_ALTR_DTTM = SYSDATE
   		WHERE	MTRI_CUST_NO = #{mtriCustNo}
    </update>
    
    <select id="selectMyPassword" parameterType="map" resultType="map">
    	SELECT USER_PSWD
    	 FROM T_MTRI_CUST01M1
    	 WHERE MTRI_CUST_NO = #{mtriCustNo}
    </select>
    
    <update id="deleteMypage" parameterType="map">
    	UPDATE T_MTRI_CUST01M1
    	 SET ACIT_LOCK_YN = 'Y'
    	   , LSTTM_MODFR_ID = #{mtriCustNo}
 		   , LSTTM_ALTR_DTTM = SYSDATE
    	 WHERE MTRI_CUST_NO = #{mtriCustNo}
    </update>
</mapper>
