<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>자재·장비대금 지킴이</title>
	<link type="text/css" rel="stylesheet" href="../assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/datepicker.min.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<div class="container">
	<header class="">
		<div class="headerWrap">

			<a href="javascript:history.go(-1);" class="backBtn"></a>

			<div class="pageTitBox">장비대금 등록</div>

			<!-- GNB -->
			<a href="javascript:f_goMenu();" class="gnbBox">
				<i class="ic ic_gnb"></i>
			</a>
		</div>
	</header>
	<div class="wrapper">

		<section class="edit">
		<form name="materForm" id="materForm" enctype="multipart/form-data">
			<input type="hidden" name="mnpbClssCd" value="E">
			<ul class="editList">
				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">청구년월</span>
					</div>
					<div class="con">
						<input type="hidden" name="mnpbAskYYMM">
						<div class="selectBox">
							<select name="mrtiMnpbAskYY">
								<option value="2020">2020년</option>
								<option value="2019">2019년</option>
							</select>
						</div>
						<div class="selectBox">
							<select name="mrtiMnpbAskMM">
								<option value="12">12월</option>
								<option value="11">11월</option>
								<option value="10">10월</option>
								<option value="09">9월</option>
								<option value="08">8월</option>
								<option value="07">7월</option>
								<option value="06">6월</option>
								<option value="05">5월</option>
								<option value="04">4월</option>
								<option value="03">3월</option>
								<option value="02">2월</option>
								<option value="01">1월</option>
							</select>
						</div>

					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_spot"></i>
						<span class="txt">현장명</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="fildClssCd">
								<option value="a">현장1</option>
								<option value="b">현장2</option>
							</select>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_device"></i>
						<span class="txt">공 구</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="cntcWkscCd">
								<option value="aa">공구1</option>
								<option value="bb">공구2</option>
							</select>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">계약업체명</span>
					</div>
					<div class="con">
						<input class="tbox" name="cntrtCrprNm">
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">장비업체명</span>
					</div>
					<div class="con">
						<input class="tbox" name="corpNm" th:value="${session.corpNm}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_corp"></i>
						<span class="txt">자재명</span>
					</div>
					<div class="con">
						<input class="tbox" name="cntrtNm">
					</div>
				</li>


				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">연락처</span>
					</div>
					<div class="con">
						<input class="tbox" name="custTelno" th:value="${session.custTelno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_tel"></i>
						<span class="txt">사업자번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="mtriCustNo" th:value="${session.mtriCustNo}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_device"></i>
						<span class="txt" style="font-size: 15px;">장비등록번호</span>
					</div>
					<div class="con">
						<div class="selectBox" style="width: 100%;">
							<select name="mnpbRgsrSeq">
								<option value="M00000001">M00000001</option>
								<option value="M00000002">M00000002</option>
							</select>
						</div>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">대표자명</span>
					</div>
					<div class="con">
						<input class="tbox" name="rpprNm" th:value="${session.rpprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">예금주</span>
					</div>
					<div class="con">
						<input class="tbox" name="deprNm" th:value="${session.deprNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">은행명</span>
					</div>
					<div class="con">
						<input class="tbox" name="trBankNm" th:value="${session.trBankNm}" readonly>
					</div>
				</li>
				
				<li>
					<div class="subject">
						<i class="ic ic_account"></i>
						<span class="txt">계좌번호</span>
					</div>
					<div class="con">
						<input class="tbox" name="bankActno" th:value="${session.bankActno}" readonly>
					</div>
				</li>
				<li>
					<div class="subject">
						<i class="ic ic_charge_price"></i>
						<span class="txt">청구금액</span>
					</div>
					<div class="con">
						<div class="inputBox">
							<input class="tbox money" name="askAmt" numberonly>
							<span class="unit">원</span>
						</div>
					</div>
				</li>

				<li>
					<div class="subject">
						<i class="ic ic_date"></i>
						<span class="txt">세금계산서</span>
					</div>
					<div class="con">
						<div class="fileBox">
							<label for="flUpFileData" style="padding-left: 15px; padding-top: 12px;">
								<input type="file" id="flUpFileData" style="display:none;" name="flUpFileData" onchange="javascript:f_imgChange();">
								<span class="txt" id="fileName" style="font-size:15px;"></span>
								<i class="ic ic_chain"></i>
							</label>
						</div>
						
					</div>
				</li>
			</ul>
		</form>
			<div class="editMenuBox">

				<!-- <a href="#none" class="removeBtn">삭제</a> -->

				<div class="menuBox">
					<a href="javascript:f_save();" class="menuBtn">저장</a>
					<a href="javascript:history.go(-1);" class="menuBtn">취소</a>
				</div>
			</div>
		</section>

	</div>
</div>
<div id="menuDiv" style="display:none;"></div>
<div class = "progressDiv" style="display:none;">
	<img src="../assets/img/progress.gif"/>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.12.1.js"></script>
<script src="../assets/js/ui.js"></script>
<script src="../assets/js/datepicker.min.js"></script>
<script src="../assets/js/datepicker.ko.js"></script>
<script src="../assets/js/core.js"></script>
<script src="../assets/js/machinery/machineryCreate.js"></script>
</body>
</html>