<div class="container full" style="height:100%;">
	<div style="height:100%;">
		<header class="main">
			<div class="headerWrap">
	
				<!-- 로고 -->
				<h1 class="logo">
					<a href="#none">
						<span class="txt">자재·장비대금 지킴이</span>
					</a>
				</h1>
				<a href="javascript:f_menuOff();" class="myclose">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<div class="mn-wrap">
          	<div class="mn-btnwrap">
              	<div class="mn-btnrow">
		    		<ul>
		    			<li class="mn-btnrow" th:if="${session.custAthrCd == 'A'}">
	                   		<a href="javascript:void(0);" data-path="mater" data-page="adminCreate" class="mn-btn-tit">
	                   			<i class="far fa-plus-square"></i>  관리자 계정관리
	                   		</a> 
	                   	</li>
	                   <li class="mn-btnrow" th:if="${session.custAthrCd == 'D'}">
	                   		<a href="javascript:void(0);" data-path="mater" data-page="materCreate" class="mn-btn-tit">
	                   			<i class="far fa-plus-square"></i>  자재대금 등록
	                   		</a> 
	                   	</li>
	                   <li class="mn-btnrow" th:if="${session.custAthrCd == 'D'}">
	                   		<a href="javascript:void(0);" data-path="machinery" data-page="machineryCreate" class="mn-btn-tit">
	                   			<i class="far fa-plus-square"></i>  장비대금 등록
	                   		</a> 
	                   	</li>
	                   <li class="mn-btnrow">
	                   		<a href="javascript:void(0);" data-path="mater" data-page="materList" class="mn-btn-tit">
	                   			<i class="far fa-list-alt"></i>  자재·장비대금 목록조회
	                   		</a> 
	                   	</li>
	                   <li class="mn-btnrow">
	                   		<a href="javascript:void(0);" data-path="notice" data-page="notice" class="mn-btn-tit">
	                   			<i class="fas fa-clipboard-list"></i>  공지사항
	                   		</a> 
	                   	</li>
	                   <li class="mn-btnrow">
	                   		<a href="javascript:void(0);" data-path="ref" data-page="reference" class="mn-btn-tit">
	                   			<i class="fas fa-folder-open"></i>  자료실
	                   		</a> 
	                   	</li>
	                   <li class="mn-btnrow">
	                   		<a href="javascript:void(0);" data-path="mypage" data-page="mypage" class="mn-btn-tit">
	                   			<i class="fas fa-user"></i>  마이페이지
	                   		</a> 
	                   	</li>
	            	</ul>
            	</div>
            	
            	
            	<div class="menu_logout">
            		<a href="javascript:f_goLogout();">
                		<i class="fas fa-sign-out-alt"></i>  로그아웃
                	</a> 
            	</div>
           </div>
          </div>
		</header>
		
		
	</div>

</div>

<script src="../assets/js/core.js"></script>
<link type="text/css" rel="stylesheet" href="../assets/css/core.css"/>
